/* Page-specific styling for Dutch Syntax Generator */

body {
    background-color: #ababab;
}


.infixsample {
    color: #A52A2A;
}


.textinput {
	background-color: #d6d6d6;
}


.textoutput {
	background-color: #ababab;
}


.verb_unsupported {
    color: red;
}


.verb_limited {
    color: orange;
}

.maintitle {
    background-color: black;
    color: white;
  }
  
#subbar {
    background-color: #424242;
    color: white;
    height: 14px; /* Necessary because no text */
}
  
::placeholder {
    color: #424242;
    opacity: 1; /* Firefox */
}
  
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #424242;
}