/* Page-specific styling for Dutch Syntax Generator */

body {
    background-color: #95D5B2;
}


.infixsample {
    color: #A52A2A;
}


.textinput {
	background-color: #B7E4C7;
}


.textoutput {
	background-color: #95D5B2;
}


.verb_unsupported {
    color: red;
}


.verb_limited {
    color: orange;
}

.maintitle {
    background-color: #112A1F;
    color: white;
  }
  
#subbar {
    background-color: #2D6A4F;
    color: white;
}
  
::placeholder {
    color: #1B4332;
    opacity: 1; /* Firefox */
}
  
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #1B4332;
}