/* Page-specific styling for Dutch Syntax Generator */

body {
    background-color: #c2c2c2;
}


.infixsample {
    color: #A52A2A;
}


.textinput {
	background-color: #d4d4d4;
}


.textoutput {
	background-color: #c2c2c2;
}


.verb_unsupported {
    color: red;
}


.verb_limited {
    color: orange;
}

