/* Page-specific styling for Payload Search Engine */

body {
    background-color: #D1B383;
}


::placeholder {
  color: #634120;
  opacity: 1; /* Firefox */
}


::-ms-input-placeholder { /* Edge 12 -18 */
  color: #634120;
}


.optionalsample {
    color: #A52A2A;
}


.textinputline {
	background-color: #F1DDB9;
}


.textoutput {
	/* background-color: #FCDEA8; */
}


.verb_unsupported {
    color: red;
}


.verb_limited {
    color: orange;
}


.hiddentable {
  border: none;
}

.output_placeholder {
  color: #634120;
}


/* Bullet point list stuff*/

ul {
  list-style: none;
  padding-left: 0;
}​


/* Link stuff */

a, a:link, a:visited {
  color: black;
}

.clicked_link {
  font-weight: bold;
}

/* Stuff to make the "last updated" text not be weird because of the margins */

.row {
  margin-top: 5px;
  padding: 0px 13px;
}

#payloadtitle {
  width: 100%;
  top: 0px;
  padding: 10px 8px;
  margin-bottom: 0px;
  background-color: #271A11;
  color: white;
}

#subbar {
  width: 100%;
  top: 0px;
  padding: 5px 8px;
  background-color: #634120;
  color: white;
}



/* Add to universal?: */

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
