/* Page-specific styling for Payload Search Engine */

body {
    background-color: #ffe49e;
}


::placeholder {
  color: #a18337;
  opacity: 1; /* Firefox */
}


::-ms-input-placeholder { /* Edge 12 -18 */
  color: #a18337;
}


.optionalsample {
    color: #A52A2A;
}


.textinput {
	background-color: #ffeec4;
}


.textoutput {
	background-color: #ffe49e;
}


.verb_unsupported {
    color: red;
}


.verb_limited {
    color: orange;
}


.hiddentable {
  border: none;
}

.output_placeholder {
  color: #a18337;
}


/* Bullet point list stuff*/

ul {
  list-style: none;
  padding-left: 0;
}​


/* Link stuff */

a:link, a:visited {
  color: black;
}

.clicked_link {
  font-weight: bold;
}

/* Stuff to make the "last updated" text not be weird because of the margins */

.row {
  margin-top: 5px;
}

#payloadtitle {
  margin-bottom: 1px;
}
